*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bucomp/file-repository/communities/42/users/41/720_whats_new_in_notifications.pdf
bucomp/file-repository/users/36/add contact.png
bucomp/file-repository/users/36/add medicine.png
bucomp/file-repository/users/41/back.png
bucomp/file-repository/users/41/contact list.jpg
bucomp/file-repository/users/42/add contact.png
bucomp/file-repository/users/43/add contact.png
bucomp/file-repository/users/43/Back-25.png
